name: pylint

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  pylint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install dependencies + pylint
        run: |
          python -m pip install --upgrade pip
          pip install pylint

      - name: Install pynjournal2
        run: pip install .

      - name: Validate
        run: pylint --errors-only pyjournal2
